<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/jellybeanjunction/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/jellybeanjunction/">Home</a></li>
	        		<li><a href="/jellybeanjunction/blog">Blog</a></li>
	        		<li><a href="/jellybeanjunction/quickcrochetbook">Book</a></li>
	        		<li><a href="https://www.instagram.com/jellybean_junction/">Instagram</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
		</body>
	</html>
