<!DOCTYPE html>
	<html lang="en">

		{% include head.html %}
		
		<body>
			<div class="row container-fluid mx-auto text-center py-4 jj-brand">
				<div><img src="/assets/images/jellybean-junction-logo.svg" alt="Jellybean Junction logo" height="120px"></div>
				<div class="title">The Jellybean Junction Blog</div>
				<div class="tag-line text-muted">My colourful crochet adventures</div>
			</div>

			<nav>
				<ul class="nav justify-content-center py-2">
					<li class="nav-item">
						<a class="nav-link" href="/">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/quickcrochetbook">Book</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="https://www.instagram.com/jellybean_junction/">Instagram</a>
					</li>
				</ul>
			</nav>

			<div class="container-fluid">

			{{ content }}

			</div><!-- /.container -->

			{% include footer.html %}

			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
		</body>
	</html>
